.banner-principal-decorativo
  &-1
    animation: float1 3s ease-in-out infinite alternate
    position: absolute
    top: 25%
    right: 40%
  &-2
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    bottom: 42%
    right: 55%
  &-3
    animation: float1 4.5s ease-in-out infinite alternate
    position: absolute
    bottom: 20%
    right: 75%
  &-4
    animation: float1 3s ease-in-out infinite alternate
    position: absolute
    bottom: 15%
    right: 7%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)


//// Cajones
.cajon
  &.cjn--azul
    background-color: #EEF6FC
    &::before
      background-color: #0B67D1
  &.cjn--purpura
    background-color: #ECE5F7
    &::before
      background-color: #7F4FC7
  &.cjn--yellow
    background-color: #FFFAD8
    &::before
      background-color: #EEAC3A
  &.cjn--mint
    background-color: #DEF2F4
    &::before
      background-color: #43A99B

////// Quote
.bloque-texto-c.clr--mint,
  background-color: #D0E9E6 !important


////// Backgrounds

.bg_img_01, .bg_img_02, .bg_img_03, .bg_img_04, .bg_img_05, .bg_gray, .bg_grad_01, .bg_grad_02, .bg_grad_03, .bg_grad_04, .bg_grad_05
  position: relative
  & > *
    position: relative
  &::before
    content: ''
    position: absolute
    top: 0
    left: - 3rem
    width: calc( 100% + 6rem )
    height: 100%

.bg_img_01
  &::before
    background-image: url("../assets/curso/recursos/bg_img_01.svg")
    background-repeat: no-repeat
    background-position: top left
    background-size: cover

.bg_img_02
  &::before
    background-image: url("../assets/curso/recursos/bg_img_02.svg")
    background-repeat: no-repeat
    background-position: top left
    background-size: cover

.bg_gray
  &::before
    background-color: #F3F3F3
.bg_grad_01
  &::before
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(236,243,251,1) 20%, rgba(238,244,251,1) 80%, rgba(255,255,255,1) 100%)
.bg_grad_02
  &::before
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(222,242,244,1) 20%, rgba(222,242,244,1) 80%, rgba(255,255,255,1) 100%)
.bg_grad_03
  &::before
    background: transparent linear-gradient(0deg, #FCFCFC 0%,  #ECE5F7 20%, #ECE5F7 80%, #FCFCFC 100%)
.bg_grad_04
  &::before
    background: transparent linear-gradient(0deg, #FFFFFF 0%,  #FDF3E1 40%, #FDF3E1 100%)
.bg_grad_05
  &::before
    background: transparent linear-gradient(0deg, #FFFFFF 0%,  #ECF3FB 40%, #ECF3FB 100%)

.img-infografica-b__modal
  background-image: url("../assets/curso/recursos/bg_img_03.svg")
  background-repeat: no-repeat
  background-position: top left
  background-size: cover

.img-infografica-b__modal__contenido div > *
  color: $color-sistema-texto !important

.img-infografica-b__modal__btn-cerrar i
  color: #000;

.img-infografica-b__modal__btn-cerrar
  position: absolute;
  right: 10px;
  top: 16px;
  padding: 5px;
  cursor: pointer;
  background: #EEAC3A;

///// crds

.fullHeight
  height: 100%

.content
  position: relative
  top: 50%
  transform: translateY(-50%)

.horizontal-scroll
  align-items: stretch !important

.triangles
  position: absolute
  bottom: 2rem
  right: 2rem

.crd
  position: relative

  &.crd--rad
    border-radius: 15px

  &.crd--yellow
    background-color: #FDF3E1

  &.crd--blue
    background: #ECF3FB

  &.crd--purple
    background-color: #ECE5F7

  &.crd--whiteA
    padding: 1.2rem 2.5rem
    background-color: white

  &.crd--grad_01
    background: linear-gradient(180deg, rgba(25,137,226,1) 0%, rgba(10,81,139,1) 100%)

  &.crd--grad_02
    background: linear-gradient(180deg, rgba(222,242,244,1) 0%, rgba(255,255,255,1) 100%)

  &.crd--grad_02B
    background: linear-gradient(0deg, rgba(222,242,244,1) 0%, rgba(255,255,255,1) 100%)

  &.crd--grad_03
    background: linear-gradient(90deg, rgba(238,232,248,1) 0%, rgba(251,249,255,1) 100%)

///// infografia
.img-infografica__card, .img-infografica-b__card
  width: 450px !important
  @media (max-width: 990px)
    width: 300px !important

.tarjeta.tarjeta--azul
  background-color: #ECF3FB


///// Acordion
.acordion
  .acordion__titulo
    font-size: 0.8em !important

  .acordion__accion__btn--b
    background-color: #EEAC3A
    border: none
    width: 48px !important
    height: 48px !important

///// Acordion amarillo
.acordion
  .acordion__activo
    background-color: #FDF3E1 !important

.acordion__accion__btn--a
  background-color: #EEAC3A


.cstm_title
  border-bottom: 3px solid #43A99B
  h3
    margin-bottom: 7px


.img40
  width: 40px

.hr--line
  width: 100%
  height: 2px
  background-color: #43A99B
  margin: 1rem 0

.blt_01
  top: 9px
  color: #8C5BE1
  font-size: 7px
  padding-right: 7px
